<div>
  <%= label_tag :name %>
  <%= text_field_tag :name, @movie.name %>
</div>

<div>
  <%= label_tag :genre %>
  <%= text_field_tag :genre, @movie.genre %>
</div>

<div>
  <%= label_tag :date %>
  <%= text_field_tag :date, @movie.date %>
</div>

<div>
  <%= label_tag :director %>
  <%= text_field_tag :director, @movie.director %>
</div>
