<h1> Welcome </h1>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-4">
      <div class="movie_single">
        <h2 class="movie_header"><a href="/movies/<%= movie.id %>"><%= movie.name %></h2>
        <p>Genre: <%= movie.genre %></p>
        <p>Date: <%= movie.date %></p>
        <p>Director: <%= movie.director %></p>
        <p>Favorite: <%= movie.favorite %></p>
        <br>
      </div>
    </div>
  <% end %>
</div>
