<br>
<br>
<br>
<br>

<body>
  <div ng-app="app">
    {{ 1 + 1 }}
  </div>
  <!-- Search Bar Start -->
  <div class="col-xs-12 col-xs-offset-1">
    <div class="input-group">
      <%= form_tag(search_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for Movies", class: 'form-control' %>
      <span class="input-group-btn">
          <%= submit_tag "Search", class: "btn btn-default" %>
      </span>
    </div>
  </div>

<% end %>
    <!-- Search Bar End -->



<!-- Favorite movies Start -->
<% if current_user %>

<div class="section-heading">
    <h1 class="title wow fadeInDown" data-wow-delay=".3s">Recent Favorites</h1>
    <p class="wow fadeInDown" data-wow-delay=".5s">
</div>

<div class="container">
    <div class="row">
      <% @favorite_movies.each do |favorite_movie| %>
        <div class="col-sm-3 col-xs-12" height: "100px">
            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                <div class="img-wrapper">
                    <img src="<%= favorite_movie.movie.poster %>" class="img-responsive" alt="this is a title" >
                    <div class="overlay">
                        <div class="buttons">
                            <a rel="gallery" class="fancybox" href="images/portfolio/item-1.jpg">Details</a>
                            <%= link_to "Favorite", "/favorite_movies?movie_id=#{favorite_movie.movie_id}", {method: :post} %></%>
                        </div>
                    </div>
                </div>
                <figcaption>
                  <h4> Title : <%= favorite_movie.movie.title %> </h4>
                  <h5> Director : <%= favorite_movie.movie.director %> </h5>
                  <h5> Genre : <%= favorite_movie.movie.genre %> </h5>
                </figcaption>
            </figure>
        </div>
      <% end %>
    </div>
  </div>

<% end %>
<!-- Favorite Movie End -->


<h1> Top Rated </h1>


    <div class="container">
      <div class="row">
        <% @movies.each do |movie| %>
          <div class="col-sm-5">
            <div class="movie_single">
              <ul>
                <h2 class="movie_header"><a href="/movies/<%= movie.id %>"><%= movie.title %></h2>
                <li> Genre: <%= movie.genre %> </li>
                <li>Date: <%= movie.date %></li>
                <li>Director: <%= movie.director %></li>
                <li>Actors: <%= movie.actors %></li>
                <li>Language: <%= movie.language %></li>
                <img src="<%= movie.poster %>" alt="<%= movie.title %>" class="img-responsive product_single_image">
              </ul>
              <br>
            </div>
          </div>
        </div>
        <% end %>
    </div>


  </body>
