<body>
<!-- Search Results Start -->
<h1> Search Results</h1>

  <div class="container">
      <div class="row">
        <% @movies.each do |movie| %>
          <div class="col-sm-3 col-xs-12" height: "100px">
              <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                  <div class="img-wrapper">
                      <img src="<%= movie.poster %>" class="img-responsive" alt="this is a title" >
                      <div class="overlay">
                          <div class="buttons">
                              <a rel="gallery" class="fancybox" href="/movies/<%= movie.id %>">Details</a>
                              <%= link_to "Favorite", "/favorite_movies?movie_id=#{movie.id}", {method: :post} %></%>
                          </div>
                      </div>
                  </div>
                  <figcaption>
                    <h4>
                      <a> <%= movie.title %> </a>
                    </h4>
                    <h5> Director : <%= movie.director %> </h5>
                    <h5> Genre : <%= movie.genre %> </h5>
                  </figcaption>
              </figure>
          </div>
        <% end %>
      </div>
    </div>

<!-- Search Results End -->

<!-- Comparison Start -->


<!-- Comparison End -->
</body>
