<body>
  <section>
    <div class="row" style="margin-top: 1%;">
      <div class="col-sm-3" style="padding-left: 100px;">
        <div class="movie_single">
          <img src=" http://image.tmdb.org/t/p/w185<%= @tmdb_movie.poster_path %>">
        </div>
      </div>

      <div class="col-sm-4" style="padding-bottom: 10px">
        <div class="movie_single">
            <h3 style="margin-top: 3px"><%= @movie.title %></h3>
            <p> Genre: <%= @movie.genre %></p>
            <p> Date Released: <%= @movie.date %></p>
            <p> Director: <%= @movie.director %></p>
            <p> Actors: <%= @movie.actors %></p>
            <p> Language: <%= @movie.language %></p>
            <p> Rating : <%= @movie.average_rating %></p>
            <%= link_to "Favorite", "/favorite_movies?movie_id=#{@movie.id}", {method: :post, class: "btn btn-info" }%>
            <%= link_to "Edit", "/movies/#{@movie.id}/edit", class: "btn btn-success" %>
            <!-- <%= link_to "Delete", "/movies/#{@movie.id}", {method: :delete, class: "btn btn-danger" }%> -->
            <%= link_to "Add Review", "/reviews/#{@movie.id}/new", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 3%;">
      <div class="col-sm-6" style="padding-left: 40px;">
        <h1> TMDB Database </h1>
          <% @treviews.each do |treview| %>
        <ul>
          <li> <%= treview.content %> </li>
        </ul>
          <% end %>
      </div>


      <div class="col-sm-6">
        <h1> All-in-One Database </h1>
          <% @movie.reviews.each do |review| %>
        <ul>
          <li> By: <%= review.user.email %> </li>
          <li> <%= review.review %> </li>
        </ul>
          <% end %>
      </div>
    </div>

  </section>

</body>
