
<body>
  <div class="section-heading">
    <h1 class="title wow fadeInDown" data-wow-delay=".3s">Your Reviews</h1>
    <p class="wow fadeInDown" data-wow-delay=".5s">
  </div>


<div ng-controller="ratingsCtrl" ng-init="setup()" class="row">
  <div>
    <input type="text" ng-model="filterTitle" list="title" placeholder="Search by Title" style="margin-left: 40px">
  </div>
  <br>
  <datalist id="title">
    <option ng-repeat="review in reviews">{{ review.title }}</option>
  </datalist>

  <div ng-repeat="review in reviews | filter: {title: filterTitle} " class="col-md-6 review-well">
    <div class="col-md-10 well">
      <h4>
        <a href="/movies/{{review.movie_id}}"> Title: {{ review.title }}</a>
      </h4>
      <i class="star-rating fa fa-lg" ng-repeat="star in review.stars" ng-click="favoriteReview(review, star)" ng-mouseover="fillStar(review, star)" ng-mouseleave="emptyStar(review, star)" ng-class="{'fa-star': star.filled, 'fa-star-o': !star.filled}" aria-hidden="true"></i>
      <h5>Review: {{ review.review}}</h5>
      <div>
        <textarea name="review1" cols="50" rows="7" placeholder="Write you review" ng-model="review.review"></textarea>
        <button ng-click="addReview(review)">Add your review</button>
        <button ng-click="delReview(review)">Delete your review</button>
     </div>
    </div>
  </div>
</div>


<br>
<br>
<br>
<br>
<br>
  <div class="container">
      <% @reviews.each do |review| %>
      <div class="row">
        <div class="col-sm-5">
          <div class="review_single">
            <ul>
              <h2 class="review_header"><a href="/movies/<%= review.movie_id %>"><%= review.movie.title %></h2>
              <li> User ID: <%= review.user_id %></li>
              <li> Movie ID: <%= review.movie_id %> </li>
              <li> Rating <%= review.rating %></li>
              <li> Review: <%= review.review %></li>
              <%= link_to "Edit", "/reviews/#{review.id}/new", class: "btn btn-success" %>
              <%= link_to "Delete", "/reviews/#{review.id}", {method: :delete, class: "btn btn-danger" }%>
            </ul>
            <br>
          </div>
        </div>
      </div>
      <% end %>
  </div>

</body>
